body {
  position: fixed;
  /* border: 1px dashed red; */
  background-color: black;
  font-family: sans-serif;
  text-align: center;
}
img {
  position: relative;
  z-index: -10;
  width: 50vw;
  left: 25vw;
}
p {
  color: yellow;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #000;
  background-color: #fff;
}
h5 {
  font-size: 3em;
}
input {
  height: 2.5rem;
}
input.larger {
  width: 35px;
  height: 35px;
}
@media screen and (max-width: 500px)  {
  input.larger {
    width: 55px;
    height: 55px;
  }
}
.button {
  font-size: 2rem;
}
.inside {
  position: fixed;
  /* border: 1px dashed red; */
  width: 100%;
  height: auto;
  top: 50%;
}
.logo {
  position: absolute;
  /* border-style: dashed;
  border-color: red; */
  max-width: 45%;
  max-height: 45%;
  top:50%;
  left: 50%;
  overflow: visible;
}
.gif {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin-top: -50%;
  margin-left: -50%;
}
.info {
  position: relative;
  font-size: 3rem;
  margin: 5%;
}
/* .rsvp {
  position: fixed;
  display: inline-flex;
  width: 70%;
  left: 25vw;
  top: 60%;
} */
#name {
  background-color: rgb(255 0 0 / 0%);
  border: none;
}
#mail {
  background-color: rgb(255 0 0 / 0%);
  border: none;
}
#loci {
  background-color: rgb(255 0 0 / 0%);
  border: none;
}
#rules {
  background-color: rgb(255 0 0 / 0%);
  border: none;
}
#drop {
  background-color: rgb(255 0 0 / 0%);
  border: none;
}
#ig {
  color:
}
#ig, #demo, #date, #msg {
  display: inline;
  margin: 0;
  font-size: 3em;
}
#mc_embed_signup {
  color: yellow;
}
